<template>
    <div class="main-content view" v-if="article && article.page">
        <div class="article">
            <v-breadcrumbs :items="breadcrumbs"></v-breadcrumbs>
            <h1 class="module-title" v-if="!article.page.hide_title">{{article.page.transTitle}}</h1>
            <div class="body">
                <ul v-if="article.children">
                    <li><a :href="'#article_'+article.page.id">{{article.page.transName}}</a></li>
                    <li v-for="child in article.children"><a :href="'#article_'+child.id">{{child.transTitle}}</a></li>
                    <li class="indicator-li"><a :href="'#indicators'">Показатели</a></li>
                </ul>
                <hr>
                <div v-if="!article.page.hide_content" v-html="article.page.transContent"
                     :id="'article_'+article.page.id"></div>
                <div class="date-p">Дата последнего изменения:
                    {{ new Date(article.page.updated) | dateFormat('DD.MM.YYYY') }}
                </div>
            </div>
        </div>
        <div class="article-item" v-if="article.children">
            <article v-for="child in article.children" :id="'article_'+child.id">
                <h1 v-if="!child.hide_title">{{child.transTitle}}</h1>
                <div class="article-body" v-if="!child.hide_content" v-html="child.transContent"></div>

            </article>
            <div id="indicators">
                <h1>Показатели</h1>
                <div v-for="child in article.children" :id="'tab_'+child.id" v-if="child.indicator">
                    <div class="tab-item">
                        <v-card v-if="child.indicator">
                            <h1 class="indicator-title">{{child.indicator.transName}}</h1>
                            <v-tabs v-model="active_tab[child.id]">
                                <v-tab :key="'table_'+child.id">Таблицы</v-tab>
                                <v-tab :key="'graphic_'+child.id">Графики</v-tab>
                                <v-tab :key="'xls_'+child.id" v-if="child.indicator.transFile"
                                       :href="baseUrl+child.indicator.fullFilesDirectory">Скачать в формате .xls
                                </v-tab>
                                <v-tab-item :key="'table_'+child.id">
                                    <v-card>
                                        <v-card-text>
                                            <div v-if="child.indicator.transTableContent"
                                                 v-html="child.indicator.transTableContent"></div>
                                        </v-card-text>
                                    </v-card>
                                </v-tab-item>
                                <v-tab-item :key="'graphic_'+child.id">
                                    <v-card>
                                        <v-card-text>
                                            <div v-if="child.indicator.transGraphic"
                                                 v-html="child.indicator.transGraphic"></div>
                                        </v-card-text>
                                    </v-card>
                                </v-tab-item>
                            </v-tabs>
                        </v-card>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import CMS from '@/model/cms'

    export default {
        components: {},
        data: () => ({
            article: null,
            active_tab: {},
            breadcrumbs: [],
            baseUrl: process.env.VUE_APP_BACK_URL
        }),
        watch: {
            // при изменениях маршрута запрашиваем данные снова
            '$route': 'fetchData'
        },
        created () {
            this.scrollToTop()
        },
        methods: {
            fetchData() {
                CMS.loadBlogBySlug(this.$route.params.slug)
                    .then(response => {
                        this.article = response.data;
                        this.breadcrumbs = [
                            {
                                text: 'Главная',
                                disabled: false,
                                href: '/'
                            },
                            {
                                text: this.article.page.transTitle,
                                disabled: true
                            }
                        ];
                        if (this.article.children) {
                            let self = this
                            this.article.children.forEach(function (child) {
                                if (child.indicator) {
                                    self.$set(self.active_tab, child.id, 1)
                                }
                            })
                        }
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            // Прокручивание к началу страницы
            scrollToTop () {
                window.scrollTo(0, 0)
            }
        },
        mounted() {
            this.fetchData()
        },

    }
</script>
