@charset "UTF-8";
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important
}

body {
    background: #fff;
    font-family: Roboto;
    font-size: 14px;
    color: #000;
    font-weight: 400;
    line-height: 1.4;
    width:100%
}

.main-template .v-application a {
    color: inherit
}

.main-template .container {
    max-width: 1210px;
    margin: 0 auto;
    padding: 0
}

.main-template .btn-top {
    background: url(http://admin.ecoreportkg.info/uploads/arrow-top.png);
    background-size: contain
}

a {
    color: #0088cb
}

p {
    margin-bottom: 10px
}

h1, h2, h3 {
    margin-top: 25px;
    margin-bottom: 15px;
    line-height: 1.2
}

h4, h5, h6 {
    margin-top: 15px;
    margin-bottom: 10px;
    line-height: 1.2
}

img {
    max-width: 100%
}

hr {
    margin: 30px 0
}

.header-top {
    background-image: url(http://admin.ecoreportkg.info/uploads/uzor.png);
    background-repeat: no-repeat;
    background-size: contain;
    border-top: 4px solid #007dc7
}

.logo {
    font-size: 18px;
    padding: 20px 20px 10px 100px
}

.logo a {
    color: inherit;
    text-decoration: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.logo img {
    max-width: 90px;
    margin-right: 20px
}

.text-logo {
    text-transform: uppercase
}

.text-logo h1 {
    font-size: inherit;
    font-weight: 400;
    margin: 0
}

.title-app h1 {
    background: #009bd1;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    padding: 13px 0
}

.navigation {
    font-size: 16px;
    border-bottom: 2px solid #a2e0fc
}

.navigation ul {
    list-style: none;
    padding: 0 24px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.navigation ul li {
    width: 25%;
    position: relative;
    border-bottom: 1px solid #dceff9
}

.navigation ul li a {
    padding: 12px 15px 8px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-decoration: none !important
}

.navigation ul li:after {
    content: '';
    width: 0;
    height: 3px;
    background: #92d9d4;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: all .4s;
    transition: all .4s
}

.navigation ul li.active, .navigation ul li:hover {
    background: #f8f8f8;
    border-color: #92d9d4
}

.navigation ul li.active a, .navigation ul li:hover a {
    color: inherit
}

.navigation ul li.active:after, .navigation ul li:hover:after {
    width: 100%
}

.navigation ul img {
    margin-right: 10px
}

#content {
    min-height: 50vh
}

#content .v-breadcrumbs {
    display: block;
    font-size: inherit;
    padding: 0
}

#content .v-breadcrumbs li {
    display: inline
}

#content .v-breadcrumbs li.v-breadcrumbs__divider {
    display: none
}

#content .v-breadcrumbs li.v-breadcrumbs__item {
    display: inline
}

.v-breadcrumbs {
    margin-bottom: 30px;
    padding: 0 50px;
    list-style: none
}

.v-breadcrumbs li + li:before {
    content: '»';
    font-size: 22px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 15px;
    line-height: 1px
}

.v-breadcrumbs a:hover {
    text-decoration: none
}

.table-list {
    padding: 30px 0
}

.table-overflow {
    max-width: 100%;
    overflow-x: auto;
    margin-bottom: 10px
}

.table-overflow .item-table {
    margin-bottom: 30px
}

.table-overflow table td span.red {
    background: 0 0 !important;
    border: 0 !important
}

.table-overflow table td p {
    margin-bottom: 0
}

.table-overflow .fix-column td:first-child {
    width: 30%
}

.table-overflow .fix-column-2 td:first-child {
    width: 40%
}

.table-full {
    width: 100%
}

table {
    border-collapse: collapse
}

table td {
    min-width: 34px
}

table td, table th {
    color: #000;
    padding: 5px 6px;
    border: 1px solid #626262
}

table tr.no-border td {
    border-color: transparent
}

.bg-blue {
    background-color: #d3e7fc
}

.bg-silver {
    background-color: #bfbfbf
}

.bg-yellow {
    background-color: #ff0
}

.red {
    color: red
}

.hidden {
    display: none
}

iframe {
    max-width: 100%
}

.map h1, .module-title, .title-pg {
    font-weight: 500;
    font-size: 22px
}

.home .main-content h1 {
    margin-top: 0
}

.main-content .article {
    background: #f4f2f2;
    padding: 30px 70px
}

.main-content h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center
}

.main-content .body {
    min-height: 40vh;
    background: #fff;
    padding: 45px 35px 10px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2)
}

.main-content .body h1 {
    font-size: 24px
}

.main-content .body h2 {
    font-size: 20px;
    font-weight: 500
}

.main-content .body h2:fist-child {
    margin-top: 0
}

.main-content .body h3 {
    font-size: 18px
}

.main-content .body h4 {
    font-size: 16px
}

.main-content .body h5 {
    font-size: 14px
}

.main-content .body h6 {
    font-size: 12px
}

.main-content .body > ul {
    margin: 0;
    padding: 0 50px;
    list-style: none
}

.main-content .body > ul li {
    position: relative;
    margin-bottom: 20px;
    padding-left: 30px
}

.main-content .body > ul li:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #c0de97;
    position: absolute;
    top: 5px;
    left: 0;
    border-radius: 50%
}

.main-content .body > ul li.indicator-li {
    color: #247abf
}

.main-content .body a {
    color: inherit
}

.main-content .body a:hover {
    text-decoration: none
}

.main-content.view {
    font-size: 16px;
    margin-bottom: 50px
}

.main-content.view .article {
    padding-bottom: 15px
}

.article-item h1 {
    background: #e0f6fc;
    font-size: 18px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 15px;
    padding: 20px;
    text-align: center
}

.article-item #indicators, .article-item article {
    background: #f4f2f2;
    padding: 0 70px 15px
}

.article-item .article-body {
    background: #fff;
    padding: 45px 35px 10px;
    -webkit-box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2);
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .2)
}

.article-item .article-body img {
    margin-right: 15px
}

.article-item .article-body > h3 {
    margin-top: 0
}

.article-item .article-bottom {
    margin: 40px 0;
    padding: 0 105px;
    text-align: center
}

.article-item #indicators .tab-item {
    margin-bottom: 30px
}

.article-item #indicators .tab-item table .bg-yellow {
    background: #bfbfbf
}

.article-item #indicators .indicator-title {
    background: #fff;
    font-size: 16px;
    margin: 0
}

.source-data {
    margin-top: 10px
}

.source-data a {
    margin-left: 2px;
    color: #00b5ec
}

.source-data a:hover {
    text-decoration: none
}

.pdf-section {
    background: #effbdc;
    padding: 24px 105px
}

.date-p {
    font-size: 12px;
    color: #8b8989;
    margin-bottom: 10px;
    padding: 10px 0
}

.pdf-link {
    position: relative;
    line-height: 32px;
    padding-left: 45px
}

.pdf-link img {
    vertical-align: middle;
    position: absolute;
    left: 0
}

.map {
    padding: 0
}

.slider {
    padding: 40px 0 20px;
    text-align: center
}

.slider img {
    margin-bottom: 30px
}

blockquote {
    background: #eee;
    padding: 15px
}

#footer .slide {
    margin-bottom: 1px;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    white-space: nowrap;
    overflow: hidden
}

.footer-nav {
    background: #009bd1;
    font-weight: 300;
    color: #fff;
    padding: 20px 100px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.footer-nav ul {
    list-style: none
}

.footer-nav ul li {
    margin-bottom: 7px
}

.footer-nav a {
    color: inherit
}

.copiright {
    padding: 20px 0;
    text-align: center
}

.copiright img {
    margin-top: 15px;
    margin-right: 40px;
    margin-bottom: 15px;
    vertical-align: middle
}

.article-item:after, .article-item:before, .clearfix:after, .clearfix:before {
    content: '';
    display: table
}

.article-item:after, .clearfix:after {
    clear: both
}

.clear {
    clear: both
}

#footer .slide, .flexbox, .footer-nav, .logo a, .navigation ul, .navigation ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.translateY-50 {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%)
}

.bg-none-box-shadow-none {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: 0 0
}

.absolute {
    position: absolute
}

.footer-nav a, .pdf-link {
    text-decoration: underline
}

.footer-nav a:hover, .pdf-link:hover {
    text-decoration: none
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

 
/* Responsive */

 @media (max-width: 1000px) {

    .widget li {
      flex: 50%;
    }
  }
  
@media (max-width: 500px) {
      .widget li {
          flex: 100%;
        }
}

@media (max-width:850px) {
    .article-body img {
     width: 100%;
     height: auto;
    }
}

@media (max-width:700px) {
 .main-content .article {
    padding: 0px
 }
 #content .v-breadcrumbs {
  padding: 0px;
 }
   .article-item article {
     padding: 0px
 }
 .v-application ul, .v-application ol {
    padding: 0px;
 }
 .navigation ul {
    padding: 0px;
 }
 .main-content .body ul {
    padding: 0px;
 }
 .slider img {
    margin-bottom: 30px;
    max-width: 100%;
}
}


/* Responsive */